body {
    font-family: Roboto, Raleway, sans-serif;
    color: #2E2F42;
    background-color: #E7E9FC;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;

}
.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    text-align: left;
    left: 156px;
    top: 24px;
    width: 115px;
    height: 24px;
    line-height: 1.2;
    letter-spacing: 3%;
}
.page-nav .link {
font-weight: 500;
font-size: 16px;
text-align: left;
left: 347px;
top: 24px;
width: 261px;
height: 24px;
line-height: 1.5;
}
.page-nav .link:hover
.page-nav .link:active {
    color: #404BBF;
}
.page-address {
  color: #434455; 
 font-weight: 400;
 font-size: 12px;
 text-align: right;
 line-height: 1.333;
 letter-spacing: 4%;
 text-decoration: underline;
}
.page-address:hover
.page-address:focus {
    color: #404BBF;
}
.page-address .link-mailto {
    width: 153px;
    height: 24px;
    top: 24px;
    left: 940px;
}
.page-address .link-tel {
    width: 151px;
    height: 24px;
    top: 24px;
    left: 1133px;
}
.page-title {
    color: #FFFFFF;
    background-color: #2E2F42;
    text-align: center;
}
.page-title .title {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 2%;
    width: 496px;
    height: 120px;
    top: 260px;
    left: 472px;
}
button {
color: #FFFFFF;
background-color: #4D5AE5;
font-weight: Medium;
font-size: 16px;
line-height: 1.5;
letter-spacing: 4%;
cursor: pointer;
}
button:hover {
    background-color: #404BBF;
}
.section-team {
    background-color: #F4F4FD;
}
.title {
font-weight: Medium;
font-size: 20px;
letter-spacing: 2%;
}
.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
}
.section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.111;
    letter-spacing: 2%;
    text-align: center;
}
.footer {
    background-color: #2E2F42;
}
.footer .footer-text {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    text-align: left;
}